body {
    background: linear-gradient(to right, white, #00fdff);
    animation: gradient 5s infinite;
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    line-height: 1.6; 
    color: #333333; 
  }
  
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px; 
    text-align: center;
    margin-top: 20px;
    color: #2C3E50; 
  }

p {
    font-size: 20px; 
    text-align: justify; 
    margin: 10px 20px; 
    color: #555555; 
}

p:hover {
    color: #2980B9;
    transform: scale(1.0);
  }